
@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-VariableFont_opsz\,wght.ttf) ;
}

* {
    font-family: 'Inter', sans-serif;    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e2226;
    color: #fdfffe;
}

.home-view {
    max-width: 1200px;
    margin: 0 auto ;
}

.home-header {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    gap: 12px;
}

.home-content {
    margin: 25px 0;
}

.home-hero {
    height: 250px;
}

a img {
    width: 32px;
    height: 32px;    
}

.home-section-galery {
    /*max-width: 960px;
    margin: 0 auto;*/
    display: grid;
    grid-template-columns: repeat(5, 240px);
    grid-template-rows: repeat(1, minmax(280px, 280px));
}