
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf')
        format('truetype');
}

:root {
    --bg-color: #191c23;
    --text-color: #dfe2e7;
    --assent-color: #3bd1cf;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

#app {
    margin: 0 auto;
    min-width: 1200px;
    max-width: 1440px;
    user-select: none;
}

.home-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
}
.home-header div {
    display: flex;
    align-items: center;
    gap: 12px;
}
.logo {
    width: 32px;
    height: 32px;
}
.logo-text {
    font-size: 22px;
    font-weight: 600;
}
.github-link {
    height: 40px;
    padding: 0 20px;
}

.github-link img {
    width: 20px;
    height: 20px;
}

.home-content {
    margin-top: 64px;
}

.home-hero {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 48px;
}
.home-hero h2 {
    font-size: 48px;
    font-weight: 600;
}
.home-hero p {
    font-size: 18px;
    color: #a0a4ab;
}

.home-section-grid {
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, minmax(280px, 290px));
    grid-template-rows: repeat(1, minmax(320px, 340px));
    gap: 32px;
}

.home-card {
    background-color: #21262e;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.home-card img {
    height: 180px;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 20px;
}
.card-content h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.card-content button {
    width: 72px;
    font-size: 14px;
    padding: 8px 16px;
    background-color: rgba(25, 28, 35, 0.8);
    color: var(--text-color);
    border: 1px solid var(--assent-color);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.card-content button:hover {
    transform: scale(1.1);
    color: var(--bg-color);
    background-color: var(--assent-color);
    box-shadow: 0 0 12px var(--assent-color);
}

.card-inactive {
    border: 2px dashed #8d9095;
    background-color: #21262e;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    opacity: 0.5;
}

.card-inactive img {
    height: 180px;
}

.card-inactive p {
    font-size: 18px;
    font-weight: 600;
}



.home-footer {
    font-size: 14px;
    color: #a0a4ab;
    margin: 48px 0;
    display: flex;
    gap: 32px;
    justify-content: center;
}